/* .AddAnnounementsButton{
    color: #74ab86;
}
div.wrapper{
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    margin-top: 40px;
}
div.panels{
    width: 900px;  
}
div.items{
    border-bottom: 2px solid rgb(0, 0, 0);
    background-color: #95b6ab;
    margin-bottom: 5px;
    padding: 10px 20px;
}
div.title{
    color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer; 
}
div.assignmentTitle{
    font-family: 'Courier New', Courier, monospace;
    font-size:15px;

}
div.content{
    color: black;
    max-height: 0;
    overflow: hidden;
   

}
div.contentTrue{
   border-radius: 1px;
    background-color: aliceblue;
    padding: 10px;
    height: auto;
    max-height: 9999;
    font-size: 26px;
}
.pageHeader{
    color: rgba(0, 0, 0, 0.775);
}

div.icons{
    margin-top: 30px;
    color: black;
}
.upload{
    display: block;
    flex-direction: column;
    justify-content: flex-end;
} */