/* div.wrapper{
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    margin-top: 40px;
}
div.panels{
    width: 800px;  
}
div.title{
    color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer; 
}
div.assignmentTitle{
    font-family: 'Courier New', Courier, monospace;
    font-size:15px;

}
.content{
    background-color: rgba(255, 255, 255, 0.815);
    padding: 30px;
    margin-top: 10px;
    border-radius: 3px;
    padding-bottom: 30px;
    font-size: large;
}
.panelsDet{
    font-size:x-large
}
.details{
    font-size: medium;
    font-weight:200;
}
.deadline{
    display: flex;
    flex-direction: row;  
}
.dueday{
    margin-left: 10px;
    font-size: medium;
    font-weight:200;
    margin-top: 7px;
}
.pageHeader{
    color: rgba(0, 0, 0, 0.775);
}

div.icons{
    margin-top: 30px;
    color: black;
} */